<%= form_for user, html: {class: "form-horizontal company_form"} do |f| %>
  <div class="error_messages_container">
    <%= render "admin/shared/error_messages", object: f.object %>
  </div>
  
<% end%>
